<div class="jumbotron pages">
  <h2 align="center"><%= @article.title %></h2>
  <hr>
  <div>
    <p><%= simple_format(@article.description) %></p>
  </div>
  <div class="article-actions">
    <%= link_to "Edit article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-xs btn-danger" %>
    <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
