<div class="jumbotron pages">
  <h2 align="center"><%= @article.title %></h2>
  <hr>
  <% if @article.user %>
    <div class="row center">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <p>Created by:</p>
        <div>
          <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
        </div>
        <div class="item-title">
          <%= link_to @article.user.username, user_path(@article.user) %>
        </div>
        <div class="item-body">
            <small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small>
        </div>
      </div>
    </div>
  <% end %>
  <div>
    <p><%= simple_format(@article.description) %></p>
  </div>
  <div class="article-actions">
    <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
    <%= link_to "Edit article", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
    <%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm:"Are you sure?"}, class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "View all articles", articles_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
