<div class="jumbotron pages">
  <h2 align="center">The bloggers</h2>
  <div align="center">
    <%= will_paginate %>
    <% @users.each do |user|%>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="well well-lg">
            <div>
              <%= link_to gravatar_for(user), user_path(user) %>
            </div>
            <div class="item-title">
              <%= link_to user.username, user_path(user) %>
            </div>
            <div class="item-body">
                <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
            </div>
            <div class="user-actions">
              <% if logged_in? and current_user.admin? %>
                <%= link_to "Delete user", user_path(user), method: :delete, data: {confirm:"Are you sure? By deleting this user you will also delete all the articles created by this user."}, class: "btn btn-xs btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate %>
  </div>
</div>
