<div class="jumbotron pages">
  <h2 align="center">The bloggers</h2>
  <div align="center">
    <%= will_paginate %>
    <% @users.each do |user|%>
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="well well-lg">
            <div>
              <%= link_to gravatar_for(user), user_path(user) %>
            </div>
            <div class="article-title">
              <%= link_to user.username, user_path(user) %>
            </div>
            <div class="article-body">
                <small><%= pluralize(user.articles.count, "article") if user.articles %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate %>
  </div>
</div>
